* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.card {
  background-color: rgb(4, 87, 160);
  color: rgb(0, 0, 0);
  border-radius: 5px;

  margin: 20px;
}
.nav{
      background-color: rgb(160, 27, 4);
  color: rgb(255, 255, 255);
  border-radius: 5px;

  margin: 20px;
}
